---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Style Guide"
	description="Not a design system yet"
	pubDate={new Date('August 12 2023')}
>
	<section>
		<a href="https://fonts.google.com/specimen/Lato" target="_blank">Lato</a>
	</section>

	<h2>Thin</h2>
	<p class="font-thin">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>

	<h2>Thin Italic</h2>
	<p class="font-thin-italic">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>

	<h2>Light</h2>
	<p class="font-light">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Light Italic</h2>
	<p class="font-light-italic">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Regular</h2>
	<p>
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Italic</h2>
	<p class="font-italic">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Bold</h2>
	<p class="font-bold">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Bold Italic</h2>
	<p class="font-bold-italic">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Black</h2>
	<p class="font-black">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
	<h2>Black Italic</h2>
	<p class="font-black-italic">
		Greetings parents and congratulations to Kenyon’s graduating class of 2005. There are 
		these two young fish swimming along and they happen to meet an older fish swimming the 
		other way, who nods at them and says “Morning, boys. How’s the water?” And the two 
		young fish swim on for a bit, and then eventually one of them looks over at the other
		and goes “What the hell is water?"
	</p>
</Layout>
